<div class="row" ng-controller="OptionsCtrl">
	<div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-tasks" title="Listado de Opciones">
			</rd-widget-header>
			<rd-widget-body>
				<div class="row" style="margin-right: -15px !important;margin-left: -15px !important;">
					<div class="col-md-6">
						<span class="pull-left">Personas</span>
						<input type="text" 
							class="form-control pull-left"
							placeholder="Personas"
                            ng-model="buscar.txtPersonas"
                            ng-change="changeTxtControl()"/> 
					</div>
					<div class="col-md-6">
						<span class="pull-left">Noches</span>
						<input type="text" 
							class="form-control pull-left"
							placeholder="Noches"
                            ng-model="buscar.txtNoches"
                            ng-change="changeTxtControl()"/> 
					</div>
				</div>
				<!-- Table-to-load-the-data Part -->
				<table class="table table-striped table-bordered table-hover table-condensed">
					<thead>
						<tr>
							<th>Grupo</th>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Personas</th>
							<th>Noches</th>
							<th>Precio</th>
							<th>Orden</th>
							<th>Activo</th>
							<th>
								<button id="btn-add" class="btn btn-primary btn-xs" ng-click="toggle('add', 0)">Agregar Nueva Opcion</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="option in options">
							<td>{{ option.GroupName }}</td>
							<td>{{ option.Name }}</td>
							<td>{{ option.Type }}</td>
							<td>{{ option.Persons }}</td>
							<td>{{ option.Nights }}</td>
							<td>{{ option.Price }}</td>
							<td>{{ option.OrderRank }}</td>
							<td style="text-align: center;">
								<span ng-if="option.Active == 1" style="color: green; font-size: 16px !important;" class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
								<span ng-if="option.Active == 0" style="color: red; font-size: 16px !important;" class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
							</td>
							<td>
								<button class="btn btn-default btn-xs btn-detail" ng-click="toggle('edit', option.id)">Editar</button>
								<button class="btn btn-danger btn-xs btn-delete" ng-click="toggle('delete', option.id)">Eliminar</button>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- End of Table-to-load-the-data Part -->
			</rd-widget-body>
		</rd-widget>
	</div>

<!-- Modal (Pop up when detail button clicked) -->
<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">{{$ctrl.form_title}}</h4>
	</div>
	<form name="frmOptions" id="frmOptions" class="form-horizontal" novalidate="" ng-if="$ctrl.modalstate=='add' || $ctrl.modalstate=='edit'">
		<div class="modal-body">
			<div class="form-group" ng-class="{'has-error': frmOptions.GroupsId.$invalid && frmOptions.GroupsId.$touched}">
				<label for="GroupsId" class="col-sm-3 control-label">Grupo</label>
				<div class="col-sm-9">
					<select id="GroupsId" 
						name="GroupsId" 
						class="form-control has-error" 
						ng-model="option.GroupsId">
						<option ng-repeat="item in groups" ng-value="item.id">{{item.Name}}</option>
					</select>
					<span class="help-inline" 
						ng-show="frmOptions.GroupsId.$invalid && frmOptions.GroupsId.$touched">
						El grupo es requerido
					</span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': frmOptions.Name.$invalid && frmOptions.Name.$touched}">
				<label for="Name" class="col-sm-3 control-label">Nombre</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control has-error" 
						id="Name" 
						name="Name" 
						placeholder="Name" 
						ng-model="option.Name" 
						ng-required="true">
					<span class="help-inline" 
						ng-show="frmOptions.Name.$invalid && frmOptions.Name.$touched">
						El nombre es requerido
					</span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': frmOptions.Description.$invalid && frmOptions.Description.$touched}">
				<label for="Description" class="col-sm-3 control-label">Descripcion</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control has-error" 
						id="Description" 
						name="Description" 
						placeholder="Description" 
						ng-model="option.Description">
					<span class="help-inline" 
						ng-show="frmOptions.Description.$invalid && frmOptions.Description.$touched">
						La Descripcion es requerida
					</span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': frmOptions.Type.$invalid && frmOptions.Type.$touched}">
				<label for="Type" class="col-sm-3 control-label">Tipo</label>
				<div class="col-sm-9">
					<select 
						class="form-control has-error" 
						id="Type" 
						name="Type" 
						ng-model="option.Type" 
						ng-required="true">
						<option value="int">Entero</option>
						<option value="bool">Si o No</option>
						<option value="select">Multiple Valor</option>
						<option value="string">Abierto a Escribir</option>
						<option value="date">Fecha</option>
					</select>
					<span class="help-inline" 
						ng-show="frmOptions.Type.$invalid && frmOptions.Type.$touched">
						El tipo es requerido
					</span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': frmOptions.PersonsFrom.$invalid && frmOptions.PersonsFrom.$touched}"> 
				<label for="PersonsFrom" class="col-sm-3 control-label">Desde Personas</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control has-error" 
						id="PersonsFrom" 
						name="PersonsFrom" 
						placeholder="PersonsFrom" 
						ng-model="option.PersonsFrom" 
						ng-required="true">
					<span class="help-inline" 
						ng-show="frmOptions.PersonsFrom.$invalid && frmOptions.PersonsFrom.$touched">
						Desde Personas es requerido
					</span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': frmOptions.PersonsTo.$invalid && frmOptions.PersonsTo.$touched}"> 
				<label for="PersonsTo" class="col-sm-3 control-label">Hasta Personas</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control has-error" 
						id="PersonsTo" 
						name="PersonsTo" 
						placeholder="PersonsTo" 
						ng-model="option.PersonsTo" 
						ng-required="true">
					<span class="help-inline" 
						ng-show="frmOptions.PersonsTo.$invalid && frmOptions.PersonsTo.$touched">
						Hasta Personas es requerido
					</span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': frmOptions.NightsFrom.$invalid && frmOptions.NightsFrom.$touched}"> 
				<label for="NightsFrom" class="col-sm-3 control-label">Noches Desde</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control has-error" 
						id="NightsFrom" 
						name="NightsFrom" 
						placeholder="NightsFrom" 
						ng-model="option.NightsFrom" 
						ng-required="true">
					<span class="help-inline" 
						ng-show="frmOptions.NightsFrom.$invalid && frmOptions.NightsFrom.$touched">
						Noches Desde es requerido
					</span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': frmOptions.NightsTo.$invalid && frmOptions.NightsTo.$touched}"> 
				<label for="NightsTo" class="col-sm-3 control-label">Noches Hasta</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control has-error" 
						id="NightsTo" 
						name="NightsTo" 
						placeholder="NightsTo" 
						ng-model="option.NightsTo" 
						ng-required="true">
					<span class="help-inline" 
						ng-show="frmOptions.NightsTo.$invalid && frmOptions.NightsTo.$touched">
						Noches Hasta es requerido
					</span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': frmOptions.Price.$invalid && frmOptions.Price.$touched}"> 
				<label for="Price" class="col-sm-3 control-label">Precio</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control has-error" 
						id="Price" 
						name="Price" 
						placeholder="Price" 
						ng-model="option.Price" 
						ng-required="true">
					<span class="help-inline" 
						ng-show="frmOptions.Price.$invalid && frmOptions.Price.$touched">
						Precio es requerido
					</span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': frmOptions.OrderRank.$invalid && frmOptions.OrderRank.$touched}"> 
				<label for="OrderRank" class="col-sm-3 control-label">Orden</label>
				<div class="col-sm-9">
					<input type="text" 
						class="form-control has-error" 
						id="OrderRank" 
						name="OrderRank" 
						placeholder="OrderRank" 
						ng-model="option.OrderRank">
					<span class="help-inline" 
						ng-show="frmOptions.OrderRank.$invalid && frmOptions.OrderRank.$touched">
						Orden es requerido
					</span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': frmOptions.Active.$invalid && frmOptions.Active.$touched}"> 
				<label for="Active" class="col-sm-3 control-label">Activo</label>
				<div class="col-sm-9">
					<input 
						type="checkbox" 
						class="form-control has-error checkbox" 
						id="Active" 
						name="Active" 
						ng-model="option.Active"
						ng-true-value="1"
						ng-false-value="0">
					<span class="help-inline" 
						ng-show="frmOptions.Active.$invalid && frmOptions.Active.$touched">
						Activo es requerido
					</span>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
			<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" 
				ng-disabled="frmOptions.$invalid">
				{{$ctrl.form_action}}
			</button>
		</div>
	</form>
	<div class="delete-form" ng-if="$ctrl.modalstate=='delete'">
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">Esta Seguro que desea eliminar este registro?</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
			<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">
				{{$ctrl.form_action}}
			</button>
		</div>
	</div>
</script>
<!-- END - Modal (Pop up when detail button clicked) -->

</div>

<style type="text/css">
	.checkbox
	{
		width:30px;
	}
	.price
	{
		margin-left:-15px;
		padding-top:6px;
		padding-right:15px;
		padding-left:0px;
		text-align:right;
	}
	.help-inline {
		color: #a94442;
	}
	.form-control{margin-bottom:1px;font-family:Arial,Helvetica,sans-serif;}
</style>