<div class="row" ng-controller="QuotationCtrl">
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-tasks" title="Selecciona las opciones">
			</rd-widget-header>
			<form name="frmQuotation" id="frmQuotation" class="form-horizontal" novalidate="" >
				<rd-widget-body>
					<!-- AQUI VA EL CONTENIDO -->
					<div class="form-group" ng-class="{'has-error': frmQuotation.name.$invalid && frmQuotation.name.$touched}">
						<label for="name" class="col-sm-4 control-label">Nombre</label>
						<div class="col-sm-8">
							<input type="text"
								   class="form-control"
								   id="name"
								   name="name"
								   placeholder="Escriba Nombre"
								   ng-model="quotation.Name"
								   required
								   ng-disabled="quotation.id > 0" />
							<span class="help-inline"
								  ng-show="frmQuotation.name.$invalid && frmQuotation.name.$touched">
								  Nombre es requerido
							</span>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': frmQuotation.surname.$invalid && frmQuotation.surname.$touched}">
						<label for="surname" class="col-sm-4 control-label">Apellido</label>
						<div class="col-sm-8">
							<input type="text"
								   class="form-control"
								   id="surname"
								   name="surname"
								   placeholder="Escriba Apellido"
								   ng-model="quotation.Surname"
								   required 
								   ng-disabled="quotation.id > 0" />
							<span class="help-inline"
								  ng-show="frmQuotation.surname.$invalid && frmQuotation.surname.$touched">
								  Apellido es requerido
							</span>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': frmQuotation.celular.$invalid && frmQuotation.celular.$touched}">
						<label for="celular" class="col-sm-4 control-label">Celular</label>
						<div class="col-sm-8">
							<input type="tel"
								   class="form-control"
								   id="celular"
								   name="celular"
								   placeholder="Escriba Celular"
								   ng-model="quotation.Celular"
								   required
								   ng-disabled="quotation.id > 0" />
							<span class="help-inline"
								  ng-show="frmQuotation.celular.$invalid && frmQuotation.celular.$touched">
								Celular es requerido
							</span>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': frmQuotation.email.$invalid && frmQuotation.email.$touched}">
						<label for="email" class="col-sm-4 control-label">Email</label>
						<div class="col-sm-8">
							<input type="email"
								   class="form-control"
								   id="email"
								   name="email"
								   placeholder="Escriba Email"
								   ng-model="quotation.Email"
								   required 
								   ng-disabled="quotation.id > 0" />
							<span class="help-inline"
								  ng-show="frmQuotation.email.$invalid && frmQuotation.email.$touched">
								   Email es requerido
							</span>
						</div>
					</div>
					<div class="form-group" ng-repeat="opt in availableoptions | orderBy : 'OrderRank'" ng-class="{'has-error': frmQuotation['control-' + opt.id].$invalid && frmQuotation['control-' + opt.id].$touched}">
						<label for="control-{{opt.id}}" class="col-sm-4 control-label">{{opt.GroupName}}</label>
						<div class="{{ ( opt.Type == 'string' || opt.Type == 'date' ? 'col-sm-8' : 'col-sm-5' ) }}">
							<textarea class="form-control" id="control-{{opt.id}}" name="control-{{opt.id}}" placeholder="{{opt.Name}}" ng-model="opt.selected" ng-if="opt.Type == 'string'" ng-disabled="quotation.id > 0"></textarea>
							<div class="input-group" ng-if="opt.Type == 'date'">
								<input type="text" class="form-control" id="control-{{opt.id}}" name="control-{{opt.id}}" placeholder="{{opt.Name}}" ng-model="opt.selected" uib-datepicker-popup="yyyy-MM-dd" is-open="opt.openedPopUp" datepicker-options="options" ng-required="true" ng-disabled="quotation.id > 0" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open1(opt)"  ng-disabled="quotation.id > 0" ><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
							<input type="number" class="form-control" id="control-{{opt.id}}" name="control-{{opt.id}}" placeholder="{{opt.Name}}" ng-model="opt.selected" ng-if="opt.Type == 'int'" ng-change="changeControl()" required  ng-disabled="quotation.id > 0" />
							<input class="form-control checkbox" type="checkbox" id="control-{{opt.id}}" name="control-{{opt.id}}" ng-model="opt.selected" ng-if="opt.Type == 'bool'" ng-disabled="quotation.id > 0" />
							<select id="control-{{opt.id}}" 
									name="control-{{opt.id}}" 
									class="form-control" 
									ng-model="opt.selectedObj" 
									ng-if="opt.Type == 'select'" required
									ng-options="option.Name for option in opt.items track by option.id"  ng-disabled="quotation.id > 0" >
							</select>
							<span class="help-inline"
								  ng-show="frmQuotation['control-' + opt.id].$invalid && frmQuotation['control-' + opt.id].$touched">
								{{opt.GroupName}} es requerido
							</span>
						</div>
						<label ng-if="opt.Type != 'select' && opt.Type != 'string' && opt.Type != 'date'" for="control-{{opt.id}}" class="col-sm-3 pull-right price">
							RD$ {{ (opt.selected ? (opt.selectedPrice ? opt.selectedPrice : opt.Price) : 0)  | number:2 }}
						</label>
						<label ng-if="opt.Type === 'select'" for="control-{{opt.id}}" class="col-sm-3 pull-right price">
							RD$ {{ (opt.selectedObj.Price ? opt.selectedObj.Price : 0) | number:2 }}
						</label>
					</div>
				</rd-widget-body>
				<rd-widget-footer>
					<!-- AQUI VA EL TOTAL -->
					<div class="pull-left">TOTAL</div>
					<div class="pull-right"><b>RD$ {{ getTotal() | number:2 }}</b></div>
					<div class="clearfix"></div>
				</rd-widget-footer>
				<rd-widget-footer ng-if="quotation.id == 0">
					<!-- AQUI VA EL TOTAL -->
					<div class="pull-left">
						<button type="button" class="btn btn-primary" ng-click="sendEmail()" ng-disabled="frmQuotation.$invalid || quotation.id > 0">
							<span style="font-size: 16px !important;"
								  class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
							Enviar al Correo
						</button>
					</div>
					<div class="pull-right">
						<button type="button" class="btn btn-primary" ng-click="sendEmailAdmin()" ng-disabled="frmQuotation.$invalid || quotation.id > 0">
							<span style="font-size: 16px !important;"
								  class="glyphicon glyphicon-user" aria-hidden="true"></span>
							Solicitar Asistencia
						</button>
					</div>
					<div class="clearfix"></div>
				</rd-widget-footer>
			</form>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-tasks" title="Detalle de opciones">
			</rd-widget-header>
			<rd-widget-body classes="no-padding">
				<!-- AQUI VA EL CONTENIDO -->
				<div class="list-group">
					<a class="list-group-item" ng-repeat="opt in availableoptions | orderBy : 'OrderRank'" ng-show="(opt.Description.trim() + '').length > 0">
						<div class="list-group-item-text">
                            <h4><b>{{opt.GroupName}}</b></h4>
                            <p>{{opt.Description}}</p>
                        </div>
					</a>
				</div>
			</rd-widget-body>
			<rd-widget-footer>
				<!-- AQUI VA EL TEXTO FINAL -->
				<p class="text-muted">Esta cotizacion esta sugeta a cambios y revisiones segun especifique las fechas de admision. </p>
				<div class="clearfix"></div>
			</rd-widget-footer>
		</rd-widget>
	</div>
</div>
<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Cotizacion enviada!</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<p><b>Cotizacion Enviada!</b></p>
		<p>Usted recibira un correo con la informacion de la cotizacion, y sera contactado por un personal altamente calificado para asistirle en sus necesidades vacacionales.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
	</div>
</script>
<style type="text/css">
	.checkbox
	{
		width: 30px;
	}
	.price
	{
		margin-left: -15px;
		padding-top: 6px;
		padding-right: 15px;
		padding-left: 0px;
		text-align: right;
	}
	.help-inline {
		color: #a94442;
	}
	.form-control {
		margin-bottom: 1px;
		font-family: Arial,Helvetica,sans-serif;
	}
</style>