<div class="row" ng-controller="QuotationsCtrl">
    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-tasks" title="Listado de Cotizaciones">
            </rd-widget-header>
            <rd-widget-body>
                <!-- Table-to-load-the-data Part -->
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nombre</th>
                            <th>Celular</th>
                            <th>Correo</th>
                            <th>Impuestos</th>
                            <th>Total</th>
                            <th>Fecha</th>
                            <th>Activo</th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="quotation in quotations">
                            <td>{{ quotation.id }}</td>
                            <td>{{ quotation.Name }}</td>
                            <td>{{ quotation.Celular }}</td>
                            <td>{{ quotation.Email }}</td>
                            <td>{{ quotation.Taxes }}</td>
                            <td>{{ quotation.Total }}</td>
                            <td>{{ quotation.created_at }}</td>
                            <td style="text-align: center;">
                                <span ng-if="quotation.Active == 1" style="color: green; font-size: 16px !important;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                <span ng-if="quotation.Active == 0" style="color: red; font-size: 16px !important;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="#/quotation?id={{quotation.id}}"><span class="fa fa-info-circle"></span> Detalle</a>
                                <button class="btn btn-danger btn-xs" ng-click="confirmDelete(quotation.id)"><span class="fa fa-trash-o"></span> Eliminar</button>
                                <button class="btn btn-info btn-xs" ng-click="sendEmailJS(quotation.id)"><span class="fa fa-envelope-o"></span> Email</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- End of Table-to-load-the-data Part -->
            </rd-widget-body>
        </rd-widget>
    </div>

</div>

<style type="text/css">
    .form-control {
        margin-bottom: 1px;
        font-family: Arial,Helvetica,sans-serif;
    }
</style>